@model FamilyPhotos.ViewModel.PhotoViewModel


<h2>Kép megtekintése</h2>


<div>
    @Html.LabelFor(m => m.Title)
    @Html.DisplayFor(m => m.Title)
</div>
<div>
    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
</div>
<div>
    @Html.LabelFor(m => m.PictureFormBrowser)
    @if (Model!=null)
    {
        <image src="@Url.Action("GetImage", new { photoId=Model.id})" />
    }    
</div>

<div>
    @Html.ActionLink("Vissza", "Index")
</div>

